@import url("base.css");

/* Labels */
.label {
    -fx-font-size: 13px;
    -fx-text-fill: #333;
}

/* Tekstvelden */
.text-field, .password-field {
    -fx-pref-width: 240;
    -fx-padding: 8;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #3498db;
    -fx-border-width: 2;
}
