@import url("base.css");

.user-card {
    -fx-background-color: #ffffff;
    -fx-padding: 15;
    -fx-background-radius: 12;
    -fx-border-color: #e4eaf1;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.03), 6, 0, 0, 1);
    -fx-spacing: 6;
}

.user-actions {
    -fx-padding: 8 0 0 0;
}

.user-card TextField,
.user-card PasswordField,
.user-card ComboBox {
    -fx-pref-width: 250;
}
